form {
    max-width: 810px;
    margin: 30px auto;
    text-align: center;
}

.var {
    overflow: hidden;
    max-width: 1000px;
    min-height: 300px;
    background: antiquewhite;
    margin:50px auto;
}
span {
    font-size: 20px;
}

.res {
    text-align: center;
}

input {
    border: 1px solid #000;
}

p {
    font-size: 30px;
    color:brown;
}
